h1 {
  font-family: "Roboto";
  text-align: center;
  margin-bottom: 40px;
}

.text {
  color: black;
  font-size: 2rem;
  font-weight: 600;
}

.value {
  font-size: 50px;
  color: black;
}

.info {
  max-width: 360px;
  margin: 40px auto 0;
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 26px;
}
